<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


<div class="wrapper">
    <div class="sidebar">
      <h2>Student</h2>
        <ul>
          <li><a href="/stud/services"><i class="fas fa-home"></i>Services</a></li>
          <li><a href="/stud/temp_emp"><i class="fas fa-calendar"></i>Program</a></li>
          <li><a href="/stud/examen_stud"><i class="fas fa-file-alt"></i>Exam</a></li>
          <li><a href="/stud/cours"><i class="fas fa-blog"></i>Course</a></li>
          <li><a href="/stud/notes1"><i class="fas fa-sticky-note"></i>Notes</a></li>
          <li><a href="/stud/profile"><i class="fas fa-user"></i>Profile</a></li>
          <li><a href="/stud/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul> 
        

    </div>

  <div class="main_content">
      <div class="header">Notes</div>
      <ul class="tb_user" name="tb">
        <li>
          <li><a href="/stud/notes1" name="nav_admin">S 1</a></li>
          <li><a href="/stud/notes2" name="nav_student">S 2</a></li>
          <li><a href="/stud/notes3" name="teacher">S 3</a></li>
          <li><a href="/stud/notes4" name="teacher">S 4</a></li>
          <li><a href="/stud/notes5" name="teacher">S 5</a></li>
          <li><a href="/stud/notes6" name="teacher">S 6</a></li>
        </li>
      </ul>
      <table id="customers">
        <tr>
          <th>Matter</th>
          <th>Note</th>
          <th>Result</th>
          <th>Session</th>
          <th>Year</th>
        </tr>
        {% for k in note  %}
        {% if user.is_authenticated %}
        {% if user.username == k.etud %}
        {% if k.semestre == 'S1' %}
        <tr>
          <td>{{k.matiere}}</td>
          <td>{{k.note}}</td>
          <td>{{k.resultat}}</td>
          <td>{{k.session}}</td>
          <td>{{k.Annee_unv}}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
  </table>



<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 89%;
  top: 40%;
  left: 5%;
  position: relative;
}

#customers td, #customers th {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4f4b7a;
  color: white;
}





.tb_user{
    list-style: none;
    position: relative;
    top: 20%;
}
.tb_user li{
    display: inline;
    padding: 0px 20px;
}
.tb_user li a{
    transition: all 0.2s ease 0s;
}
.tb_user li a:hover{
     color:#277b40;
}
















/*      dashbord      */



@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #3e415a;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #5d5877;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #6c6882;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}

</style>		



