<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form method="POST">
						<h2 ><b>Login</b></h2>
            {% csrf_token %}
						<input type="text "name="username" placeholder="CNE/Massar">
						<input type="password" name="password" placeholder="Mode de passe">
						<button class="submit">connecter</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
				</div>
				<div class="right-inductor"><img src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft" alt=""></div>
			</div>
		</div>
	</section>

<style>
.login {
    height: 577px;
    width: 100%;
    background: radial-gradient(#ffffff, #e3e3e3c4);
    position: relative;
}
.login_box {
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px rgba(8, 78, 199, 0.215);
    display: flex;
    overflow: hidden;
}
.login_box .left{
  width: 59%;
  height: 117%;
  padding: 25px 25px;
  
}
.login_box .right{
  width: 59%;
  height: 120%  
}
.left .top_link a {
    color: #452A5A;
    font-weight: 450;
}
.left .top_link{
  height: 25px
}
.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 87%;
    width: 73%;
    margin: auto;
}
.left h3{
  text-align: center;
  margin-bottom: 70px;
}
.left input {
    border: none;
    width: 80%;
    margin: 12px 0px;
    border-bottom: 1px solid #3862967d;
    padding: 0px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 13px;
}
.left{ 
	background: linear-gradient(-45deg, #b3b5ca, rgb(177, 182, 199));
}
.submit {
    border: none;
    padding: 12px 80px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 90px;
    background: #5075b4;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}
.right {
	background: url(https://e-estg.uiz.ac.ma/public/images/logo1.png);
  position: relative;
  top: -199px;
  left: 5px;
 }

</style>
</body>
</html>




